
<!-- <h1 class="text-center mt-3"> {{ titulo }} </h1> -->


<div class="container mt-5 mb-2 "> 
  <button class="btn btn-outlet mt-5" (click)="mudar()">{{ nameButton }}</button>
  <div class="row">
    
    <div class="col col-md-4" *ngFor="let foto of imagens; index as i">

      <!--Fotos pares-->
      <div class="card shadow mt-3 text-light bg-dark" style="width: 18rem;" *ngIf="control == true || i%2 == 0">
        <img class="card-img-top" [src]="foto.img" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title text-center">{{ foto.titulo }} index: {{ i }}</h5> 
        </div>    
      <!--Fim fotos PAres-->
      <button (click)="deletar(foto.id)"   type="button" class="btn btn-danger btn-sm btn-block">Excluir</button>
    </div>    
  </div>  
</div>