
<!-- <h1 class="text-center mt-3"> {{ titulo }} </h1> -->

<!-- 
<div class="container mt-5 mb-2 "> 
  <button class="btn btn-outlet mt-5" (click)="mudar()">{{ nameButton }}</button>
  <div class="row">
    
    <div class="col col-md-4" *ngFor="let foto of imagens; index as i">

      
      <div class="card shadow mt-3 " style="width: 18rem;" *ngIf="control == true || i%2 == 0">
        <img class="card-img-top" [src]="foto.img" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title text-center ">{{ foto.titulo }}</h5>
          <button (click)="deletar(foto.id)" type="button" class="btn btn-outline btn-sm text-danger">Excluir</button> 
          
        </div>    
        
     
      <div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/office.jpg">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>
    </div>    
  </div>  
</div> -->
<div class="row mt-3">
  <div>

  
<div class="row container-fluid" style="margin-top: 50px;">
  
  <div class="col-3" *ngFor="let foto of imagens; index as i">
    <div class="card shadow">
      <div class="card-image waves-effect waves-block waves-light">        
        <img class="activator" [src]="foto.img">        
      </div>      
      <div class="card-content">        
        <span class="card-title activator grey-text text-darken-4 text-center">{{foto.titulo}}</span>
        
        <div class="row">
          <div class="col-6 text-center ">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" (click)="deletar(foto.id)">delete</i></a>
          </div>          
          <div class="col-6 text-center">
            <a [routerLink]="['/formupdate',foto.id]"  class="btn-floating btn-large waves-effect waves-light gren" ><i class="material-icons">update</i></a>
          </div>
        </div>
       
        
        
      </div>      
    </div>
  </div>
</div>



