
<h1>
  {{title}}
</h1>

<p>
  {{descricao}}
</p>

<!-- <p>{{pessoa.nome}} </p>
<p>{{pessoa.idade}}</p>
<p>{{pessoa.altura}}</p> -->

<!-- <img [src]="imagem" [alt]="des"> -->

<!--
  //Diretiva - São recursos do Angular que permitem criar estrutras de repetição de decisao no HTML
  //ngIf - Diretiva de decisão
  //ngFor - Diretiva para repetição
-->
<!-- ngIf -->
<p *ngIf="pessoa.idade >= 18" >{{pessoa.nome}}</p>

<!-- ngFor -->
<!-- <h2 *ngFor="let cliente of meuCliente">{{cliente.nome}}</h2> -->

<!-- Se eu quiser exibir somente nomes do array maior de idade? -->
<h2 *ngFor="let kevin of meuCliente">
  <p *ngIf="kevin.idade >= 18">{{kevin.nome}}</p>
</h2>

