<div class="container " >
    <h2 class="text-center mb-3"> Formulario para Atualização </h2>
    
    <form #form="ngForm" (ngSubmit)="autalizar(form)">
    
        <div class="form-group mt-3">
            <label for="urlImg">Informe o endereço da Imagem: </label>
            <input class="form-control" type="text" name="img" [ngModel]="imagem.img">
            
        </div>    
    
        <div class="form-group mt-3">
    
            <label for="Title">Informe o titulo da Imagem: </label>
            <input class="form-control" type="text" name="titulo" name="titulo" [ngModel]="imagem.titulo">
            
    
        </div>
    
        <button class="btn btn-primary mt-3" type="submit" >Editar</button>
    </form>
</div>


<!-- <form >
    
    <div class="form-group mt-3">
        <label for="urlImg">Informe o endereço da Imagem: </label>
        <input class="form-control" type="text" name="img" >
        
    </div>    

    <div class="form-group mt-3">

        <label for="Title">Informe o titulo da Imagem: </label>
        <input class="form-control" type="text" name="titulo" >
        

    </div>

    <button class="btn btn-primary mt-3" type="submit" >Editar</button>
</form>
</div> -->

